@font-face {
  font-family: 'avenir';
  src: url('../avenir/AvenirLTStd-Medium.otf');
}

body {
  font-family: 'avenir';
}

footer {
  text-align: center;
}

.section-one {
  height: 100vh;
}

h1,
h3 {
  font-family: 'avenir';
  font-weight: 700;
}

.section-one h1 {
  color: #4f4f4f;
}

h3 {
  color: #828282;
}

.collage {
  margin-top: 2vw;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #4f4f4f;
  margin-bottom: 4vw;
}

.collage img {
  max-width: 100%;
}

.collage img:hover {
  transform: scale(1.1);
}

.button {
  border-radius: 10px;
  border: 3px solid #81f5ff;
  height: 65px;
}

h4 {
  line-height: 65px;
  font-weight: 700;
}

.section-two {
  background-color: #fafafa;
}

.brand-logos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 50px;
}

.brand-logos img {
  width: 50%;
}

.brand-logos img:hover {
  cursor: pointer;
}

.section-three h4 {
  color: #828282;
}

.section-three img {
  max-width: 100%;
}

.section-three p {
  font-size: 18px;
}

.section-four {
  text-align: center;
}
